{{> head}}



{{> navbar }}

<div>

    <div class="col-8">
        <h1>
            Pulgar arriba
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe temporibus, consectetur autem distinctio praesentium officiis quidem quia dignissimos. Provident, id eos sequi voluptas voluptatibus alias! Repellat est qui obcaecati enim?

        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/unnamed.jpg" alt="img-thumbnail">
    </div>


</div>


{{> footer}}